body{
    background-color: yellow;
}

div{
    /* border: 1px solid green; */
    color: white;
    height: 100px;
    align-items: center;
    text-align: center;
    padding: auto;
    margin: 10px;
}
